compl/wsRf39_std
enum/chembl_24.sdf
enum/chembl_full_names_sizes
*.log
*.Rhistory
*.swp

*.p
compl/ssRf39_std
compl/ssRf39_std_pca

*.aux
*.snm
*.synctex.gz
*.toc
*.nav
*.xyz
*.tar.bz2
*/AutomaticDesign/*
molSimplify/*
compl/*.csv
compl/*/*.csv
compl/RAC_before_setmerger/*.csv
compl/foRf39_std
compl/foRf39_std_pca
compl/ftRf39_std
compl/ftRf39_std_pca
compl/homoRf39_std
compl/homoRf39_std_pca

enum/sp.out
enum/spBidentates.out
enum/spMonodentate.out
enum/strongsym.csv

